@model PeopleViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<button id="All" type="submit" asp-action="PeoplePartial">All</button>*@

<input type="button" value="People" id="All" />


<input id="input" type="number" />
<input type="button" value="Details" id="Findby" />
<input type="button" value="Delete" id="Delete"/>

<div id="enviroment-container">aa</div>

<script>
    $("#All").click(function () {
        var url = "Ajax/PeoplePartial";
        $.get(url, function (data) {
            $("#enviroment-container").html(data);
        });
    });

    $("#Findby").click(function () {
        //$("#enviroment-container").fadeOut();
        var url = "Ajax/PersonPartial/" + document.getElementById("input").value;
        $.post(url, function (data) {
            $("#enviroment-container").html(data);
        });
    });

    $("#Delete").click(function () {

        var url = "Ajax/Delete/" + document.getElementById("input").value;
        $.post(url, function (data) {
            $("#enviroment-container").html(data);
        });

    });




</script>