@model Country

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-sm">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-sm">
            <select>
                @foreach (City city in Model.Cities)
                {
                    <option>@city.Name</option>
                }
            </select>
        </div>
        <div class="col-sm">
            @Html.ActionLink("Delete", "Remove", "Country", new { id = Model.CountryId }, null)
        </div>
        <div class="col-sm">
            @Html.ActionLink("Edit", "EditCountry", "Country", new { id = Model.CountryId }, null)
        </div>
    </div>
}