@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Create</a>

<form asp-action="Index" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
</form>


@foreach (var item in Model.PersonList)
{
    <partial name="PersonPartial.cshtml" for="@item" />
}